.cards {
  display: flex;
  flex-direction: column;
  background: #fdfae9;
  padding: 3rem 0;
}

.card {
  @include grid(3);
  width: 100%;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  padding: 2rem 0;

  @include tablet {
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
    margin: auto;
  }

  div {
    width: 15rem;
    color: $white;
    text-align: center;
    padding: 1rem 1.5rem;
    border-radius: 1rem;
    font-size: 2rem;
    margin: 0 auto;

    @include tablet {
      grid-template-columns: repeat(1, 1fr);
      justify-content: center;
      align-items: center;
      width: 100%;
      margin: 1rem 0;
    }

    &:nth-child(1) {
      background: $orange-dark;
    }
    &:nth-child(2) {
      background: $blue;
    }
    &:nth-child(3) {
      background: $green;
    }
  }
}
